.hero-text {
  align-items: center;
  background-color: $game-board-border;
  color: $hero-text-color;
  padding: 10px;
  text-align: center;
}

.game-cells {
  align-content: center;
  border: 2px solid;
  border-color: $game-board-border;
  font-weight: bold;
  padding-bottom: 15%;
  padding-top: 15%;
}

.game-board {
  background-color: $hero-text-color;
  border-color: $game-board-border;
  border-width: thick;
  visibility: hidden;
}

.navbar {
  background-color: $hero-text-color;
  padding-top: 20px;
}

footer {
  background-color: $game-board-border;
  padding: 20px;
  text-align: center;
}

nav {
  align-items: center;
  text-align: center;
}

.main-content {
  align-content: center;
  align-items: center;
  text-align: center;
}

.player-o-content {
  align-content: center;
  align-items: center;
  text-align: center;
}

.player-x-content {
  align-content: center;
  align-items: center;
  text-align: center;
}
